.holder{
/* 	background : yellow; */
	display : flex;
	justify-content : space-between;
	flex-wrap : wrap;
}
.child {
	background : red;
	height : 100px;
	width : 100px;
}
.c-2{
	background : blue;
}
.c-3{
	background : pink;
}