/* Your CSS Code here. */
.parent {
	background: yellow;
	display: flex;
}
.child{
	heigth : 100px;
	width : 20px;
	padding : 30px 30px;
	background : red;
	margin : 3px;
	justify-items : around;
	
	
}